[Unit]
Description=runBot

[Service]
Type=idle
ExecStart=/home/mcomet/bot/bot.py
Restart=always
User=mcomet
RestartSec=3s

[Install]
WantedBy=multi-user.target
